# Backend Environment Variables
# MongoDB connection string (replace with your own and uncomment below)
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=ClusterName